/*====================
GLOBAL STYLES
======================*/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: gray;
	/*overflow: hidden;*/
}

.container {
	text-align: center;
	align-items: center;
	padding: 20px;
}

.burger-btn {
	width: 50px;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}

.burger-btn::before,
.burger-btn::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px; 
	transition: all .5s ease-in-out;
}

.burger-btn::after {
	transform: translateY(-16px);
}

.burger-btn::before {
	transform: translateY(16px);
}

.menu-btn.open .burger-btn {
	transform: translateX(-50px);
	background: transparent;
}

.menu-btn.open .burger-btn::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger-btn::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

a {
	text-decoration: none;
	color: #fff;
}

h2 {
	font-size: 25px;
	padding-bottom: 5px;
}
/*====================
HEADER STYLES
======================*/
header {
    width: 100%; 
    display: flex;
    align-items: center;
    will-change: top;
    z-index: 999;
    background-color: rgba(135, 71, 255, 1);
    padding: 10px 20px;
}

.img-wrap img {
	width: 100px;
}
/*====================
NAV STYLES
======================*/
.gn {
	display: none;
	align-items: center;
	margin-left: auto;
	justify-content: center;
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	background-color: rgba(135, 71, 255, 1);
	z-index: 99;
}

.gn li {
    font-size: 16px;
    border-bottom: 1px solid #000;
}

.gn li:last-child {
	box-shadow: 0px 5px 11px 0px #000000;
}

.gn a {
	display: block;
	padding: 10px 20px;
}

/*====================
BURGER STYLES
======================*/
.burger-wrap {
	display: flex;
	align-items: center;
	margin-left: auto;
	justify-content: center;
}

.gn-trigger {
	position: relative;
	width: 50px;
	height: 30px;
	border: none;
	outline: 0;
	background: transparent;
}

.burger {
	position: absolute;
	background: white; 
	width: 50px;
	height: 5px; 
	top: 50%;
}

.burger:before,
.burger:after {
	content: '';
	display: block;
	position: absolute;
	background: white;
	width: 50px;
	height: 5px;
	right: 0;
}

.burger:before {
	bottom: 14px;
}

.burger:after {
	top: 14px;
}

.burger,
.burger:before,
.burger:after {
	transition-property: transform, top, background;
	transition-duration: .4s;
}

.gn-trigger.is-active .burger:before {
	transform: rotate(45deg);
	bottom: 0;
}

.gn-trigger.is-active .burger:after {
	transform: rotate(-45deg);
	top: 0;
}

.gn-trigger.is-active .burger {
	background: 0;
}
/*====================
BANNER STYLES
======================*/
.bnr {
	position: relative;
}

.video {
	z-index: -1;
	width: 100vw;
}

.welcome {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 300px;
    text-align: center;
}

.bnr h1 {
	font-size: 20px;
	color: #fff;
}
/*====================
ABOUT STYLES
======================*/
.about {
	height: 100%;
	width: auto;
	background: #fff;
}

/*====================
NEWS STYLES
======================*/
.news {
	margin: 2px;
}

.news h3 {
	margin-bottom: 8px;
}

.news a {
	font-size: 14px;
}

.news-container {
	margin: 0 20px;
}

.article-slider:after {
    content: 'flickity';
    display: none;
}

/* .article-slider .article-box { 
    width: 80%;
    min-height: 100%;
    margin-left: 20px;
} */

/*====================
GALLERY STYLES
======================*/
.gallery  {
	margin-top: 50px;
	background: white;
}

.grid-sizer,
.grid-item {
	width: 50%;
}

img {
	width: 100%;
}

/*====================
FACT STYLES
======================*/
#accordion {
	margin: 10px 20px;
	background: white;
}

#accordion h3 {
	background-color: rgba(135, 71, 255, 1);
	border-bottom: 1px solid black;
}

#accordion p {
	padding: 10px;
}

.facts .fact-box {
	background: white;
	border-radius: 5px;
	height: 100%;
}


/*====================
FACT STYLES
======================*/
.ftr {
	background-color: rgba(135, 71, 255, 1);; 
	padding: 10px;
	margin-top: 20px;
}

.ftr p {
	font-weight: 900;
}
/*---------------------
======================
MEDIA QUERY
======================
-----------------------*/
@media (min-width: 425px) {
	.bnr h1 {
		font-size: 30px;
	}
}

@media (min-width: 576px) {

	.welcome h1 {
		font-size: 35px;
	}
}

@media (min-width: 768px) {
	.welcome {
		width: 400px;
	}
	
	.bnr h1 {
		font-size: 400px;
		color: #fff;
	}

	.welcome h1 {
		font-size: 40px;
	}
	.article-slider .article-box {
		width: 40%;
		margin-left: 10px;
	}

	.gn-trigger {
		display: none;
	}

	.gn {
		display: block !important;
		position: static;
	}

	.gn-items {
		display: flex;
		justify-content: flex-end;
	}

	.gn li {
		border: none;
	}

	.gn li:last-child {
		box-shadow: none;
	}
}

@media (min-width: 992px) {

	.grid-sizer,
	.grid-item { 
		width: 25%;
	}
}

@media (min-width: 1200px) {
	
	.welcome {
		width: 500px;
	}
	
	.bnr h1 {
		font-size: 500px;
	}

	.gn a:hover {
		font-size: 20px;
	}

	.welcome h1 {
		font-size: 50px;
	}

}

@media (min-width: 1440px) {
	.welcome {
		width: 800px;
	}

	.welcome h1 {
		font-size: 80px;
	}
}
